
h1 {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  text-align: center;
}
.box {
  height: 50%;
  border: 1px solid black;
  text-align: center;
  background-color: goldenrod;
  float: right;
  margin: 5px 5px;
}
.titel {
  margin: 0px 0px;
  width: 25%;
  float: right;
  border-bottom: solid 1px;
  border-left: solid 1px;
	text-align: center;
}

 /*small pages*/
 .col-sm-1 
	{
    width:91.5%;
    }