header
{
	background-color:silver;
	font-size:30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h1 
{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  text-align: center;
}
body
{
	background-color:darkgrey;
}
.box 
{
  height: 50%;
  border: 1px solid black;
  text-align: center;
  background-color:white;
  float: right;
  margin: 5px 5px;
}
.titel
{
  margin: 0px 0px;
  width: 100%
}
 /*small pages*/
 .SmallPage 
	{
    width:91.5%;
    }
.select
{
float :right;
margin:1px 1px 1px 1px;
font-size: 30px;
}